
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
  }
}

:root{
    --ecriture:#f1f1f1;
    --background:#262626; 
}



  .header{
    background-color: var(--background);
    @apply p-4 h-20
  }

  .body{
    background-color: var(--background);
  }

  .navigation{
    background-color: var(--background);
    @apply  p-4 flex flex-col items-center
  }

  .footer{
    background-color: var(--background);
    @apply p-4 text-center
  }

  .h1{
    @apply text-3xl text-center text-custom5 mt-8;
  }

  .paragraphe{
    @apply text-lg text-center text-custom5 mt-4;
  }

  .wt-title {
    @apply text-3xl font-bold underline mb-10;
  }

  .nav-link {
    @apply w-32 text-center text-lg text-custom5 font-medium px-3 py-2 rounded-md;
  }
  
  .nav-link:hover {
    @apply text-custom4 underline;
  }

  .bouton-sumbit {
  @apply bg-custom5 text-white p-2 mt-4 hover:bg-custom4 transition-all duration-300 rounded-md
  }
  